# **High cardinality**

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.feature_selection import mutual_info_classif
from sklearn.model_selection import train_test_split

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
train = pd.read_csv('/content/drive/MyDrive/ML - pump it/train_values.csv', index_col='id')
train_label = pd.read_csv('/content/drive/MyDrive/ML - pump it/train_label.csv', index_col='id')
test_val = pd.read_csv('/content/drive/MyDrive/ML - pump it/test_values.csv', index_col='id')

In [ ]:
train.isnull().sum() * 100 / len(train)

In [ ]:
test_val.isnull().sum() * 100 / len(test_val)

In [ ]:
#null values

In [ ]:
#drop columns



```
# This is formatted as code
date_recorded - The date the row was entered
wpt_name - Name of the waterpoint if there is one
num_private
recorded_by - Group entering this row of data

scheme_management - Who operates the waterpoint
scheme_name - Who operates the waterpoint

extraction_type - The kind of extraction the waterpoint uses
extraction_type_group - The kind of extraction the waterpoint uses
extraction_type_class - The kind of extraction the waterpoint uses

management - How the waterpoint is managed
management_group - How the waterpoint is managed


payment - What the water costs
payment_type - What the water costs


water_quality - The quality of the water
quality_group - The quality of the water


quantity - The quantity of water
quantity_group - The quantity of water


source - The source of the water
source_type - The source of the water
source_class - The source of the water


waterpoint_type - The kind of waterpoint
waterpoint_type_group - The kind of waterpoint
```

In [ ]:
# by instinct drop "date_recorded","wpt_name","num_private","recorded_by"

In [ ]:
train['extraction_type'].unique()

array(['gravity', 'submersible', 'swn 80', 'nira/tanira', 'india mark ii',
       'other', 'ksb', 'mono', 'windmill', 'afridev', 'other - rope pump',
       'india mark iii', 'other - swn 81', 'other - play pump', 'cemo',
       'climax', 'walimi', 'other - mkulima/shinyanga'], dtype=object)

In [ ]:
plt.figure(figsize=(30,5))
sns.countplot(x='extraction_type',data=train)
plt.title("Count of water points by extraction_type")

In [ ]:
train['extraction_type_group'].unique()

array(['gravity', 'submersible', 'swn 80', 'nira/tanira', 'india mark ii',
       'other', 'mono', 'wind-powered', 'afridev', 'rope pump',
       'india mark iii', 'other handpump', 'other motorpump'],
      dtype=object)

In [ ]:
plt.figure(figsize=(30,5))
sns.countplot(x='extraction_type_group',data=train)
plt.title("Count of water points by extraction_type_group")

In [ ]:
train['extraction_type_class'].unique()

array(['gravity', 'submersible', 'handpump', 'other', 'motorpump',
       'wind-powered', 'rope pump'], dtype=object)

In [ ]:
plt.figure(figsize=(30,5))
sns.countplot(x='extraction_type_class',data=train)
plt.title("Count of water points by extraction_type_class")

In [ ]:
#drop extraction_type_group extraction_type

DROP ALL TOGETHER

In [ ]:
train['scheme_management'].unique()

array(['VWC', 'Other', nan, 'Private operator', 'WUG', 'Water Board',
       'WUA', 'Water authority', 'Company', 'Parastatal', 'Trust', 'SWC',
       'None'], dtype=object)

In [ ]:
plt.figure(figsize=(30,5))
sns.countplot(x='scheme_management',data=train)
plt.title("Count of water points by scheme_management")

In [ ]:
train['scheme_name'].unique()

array(['Roman', nan, 'Nyumba ya mungu pipe scheme', ..., 'BL Nsherehehe',
       'Magati  gravity spri', 'Mtawanya'], dtype=object)

In [ ]:
#drop scheme_name scheme_management

In [ ]:
train['management'].unique()

array(['vwc', 'wug', 'other', 'private operator', 'water board', 'wua',
       'company', 'water authority', 'parastatal', 'unknown',
       'other - school', 'trust'], dtype=object)

In [ ]:
plt.figure(figsize=(30,5))
sns.countplot(x='management',data=train)
plt.title("Count of water points by management")

In [ ]:
train['management_group'].unique()

array(['user-group', 'other', 'commercial', 'parastatal', 'unknown'],
      dtype=object)

In [ ]:
plt.figure(figsize=(30,5))
sns.countplot(x='management_group',data=train)
plt.title("Count of water points by management_group")

In [ ]:
# drop management

payment - What the water costs

payment_type - What the water costs

In [ ]:
train['payment'].unique()

array(['pay annually', 'never pay', 'pay per bucket', 'unknown',
       'pay when scheme fails', 'other', 'pay monthly'], dtype=object)

In [ ]:
plt.figure(figsize=(30,5))
sns.countplot(x='payment',data=train)
plt.title("Count of water points by payment")

In [ ]:
train['payment_type'].unique()

array(['annually', 'never pay', 'per bucket', 'unknown', 'on failure',
       'other', 'monthly'], dtype=object)

In [ ]:
plt.figure(figsize=(30,5))
sns.countplot(x='payment_type',data=train)
plt.title("Count of water points by payment_type")

In [ ]:
# drop either payment or payment_type

water_quality - The quality of the water

quality_group - The quality of the water

In [ ]:
train['water_quality'].unique()

array(['soft', 'salty', 'milky', 'unknown', 'fluoride', 'coloured',
       'salty abandoned', 'fluoride abandoned'], dtype=object)

In [ ]:
plt.figure(figsize=(30,5))
sns.countplot(x='water_quality',data=train)
plt.title("Count of water points by water_quality")

In [ ]:
train['quality_group'].unique()

array(['good', 'salty', 'milky', 'unknown', 'fluoride', 'colored'],
      dtype=object)

In [ ]:
plt.figure(figsize=(30,5))
sns.countplot(x='quality_group',data=train)
plt.title("Count of water points by quality_group")

In [ ]:
# drop quality_group

quantity - The quantity of water

quantity_group - The quantity of water

In [ ]:
train['quantity'].unique()

array(['enough', 'insufficient', 'dry', 'seasonal', 'unknown'],
      dtype=object)

In [ ]:
plt.figure(figsize=(30,5))
sns.countplot(x='quantity',data=train)
plt.title("Count of water points by quantity")

In [ ]:
train['quantity_group'].unique()

array(['enough', 'insufficient', 'dry', 'seasonal', 'unknown'],
      dtype=object)

In [ ]:
plt.figure(figsize=(30,5))
sns.countplot(x='quantity_group',data=train)
plt.title("Count of water points by quantity_group")

In [ ]:
# drop quantity_group

source - The source of the water

source_type - The source of the water

source_class - The source of the water

In [ ]:
train['source'].unique()

array(['spring', 'rainwater harvesting', 'dam', 'machine dbh', 'other',
       'shallow well', 'river', 'hand dtw', 'lake', 'unknown'],
      dtype=object)

In [ ]:
plt.figure(figsize=(30,5))
sns.countplot(x='source',data=train)
plt.title("Count of water points by source")

In [ ]:
train['source_type'].unique()

array(['spring', 'rainwater harvesting', 'dam', 'borehole', 'other',
       'shallow well', 'river/lake'], dtype=object)

In [ ]:
plt.figure(figsize=(30,5))
sns.countplot(x='source_type',data=train)
plt.title("Count of water points by source_type")

In [ ]:
train['source_class'].unique()

array(['groundwater', 'surface', 'unknown'], dtype=object)

In [ ]:
plt.figure(figsize=(30,5))
sns.countplot(x='source_class',data=train)
plt.title("Count of water points by source_class")

In [ ]:
# drop source_class source_type

waterpoint_type - The kind of waterpoint

waterpoint_type_group - The kind of waterpoint

In [ ]:
train['waterpoint_type'].unique()

array(['communal standpipe', 'communal standpipe multiple', 'hand pump',
       'other', 'improved spring', 'cattle trough', 'dam'], dtype=object)

In [ ]:
plt.figure(figsize=(30,5))
sns.countplot(x='waterpoint_type',data=train)
plt.title("Count of water points by waterpoint_type")

In [ ]:
train['waterpoint_type_group'].unique()

In [ ]:
plt.figure(figsize=(30,5))
sns.countplot(x='waterpoint_type_group',data=train)
plt.title("Count of water points by waterpoint_type_group")

In [ ]:
#drop extraction_type_group extraction_type
#drop scheme_name scheme_management
# drop management
# drop either payment or payment_type
# drop quality group
# drop quantity_group
# drop source_class source_type
# drop waterpoint_type_group

In [ ]:
train = train.drop(["date_recorded","wpt_name","num_private","recorded_by","extraction_type_group","extraction_type","scheme_name","scheme_management", "management", "payment_type", "quality_group", "quantity_group", "source_class", "source_type","waterpoint_type_group"], axis= 1)
test_val = test_val.drop(["date_recorded","wpt_name","num_private","recorded_by","extraction_type_group","extraction_type", "scheme_name","scheme_management", "management", "payment_type", "quality_group", "quantity_group", "source_class", "source_type","waterpoint_type_group"], axis= 1)

In [ ]:
num_cols_train = train.select_dtypes('number').columns
print(num_cols_train)

In [ ]:
train.isnull().sum() * 100 / len(train)

In [ ]:
train.groupby(['management_group','public_meeting']).count()

In [ ]:
# drop lon lat region

In [ ]:
train['region_code'].unique()

In [ ]:
plt.figure(figsize=(30,5))
sns.countplot(x='region_code',data=train)
plt.title("Count of water points by region_code")

In [ ]:
plt.figure(figsize=(30,5))
sns.countplot(x='district_code',data=train)
plt.title("Count of water points by district_code")

In [ ]:
plt.figure(figsize=(30,5))
sns.countplot(x='lga',data=train)
plt.title("Count of water points by lga")

In [ ]:
train["construction_year"].unique()

# Construction Year

In [ ]:
cut_grades = [0, 1, 2, 3, 4,5,6]
cut_bins =[-1, 1960, 1970, 1980, 1990, 2000, 2010, 2020]
train['year'] = pd.cut(train["construction_year"], bins=cut_bins, labels = cut_grades)

In [ ]:
test_val['year'] = pd.cut(test_val["construction_year"], bins=cut_bins, labels = cut_grades)

In [ ]:
# drop construction_year // # drop ward maybe lga // # drop lon lat region

In [ ]:
train = train.drop(["construction_year","ward", "lga", "longitude", "latitude","region", "subvillage"], axis= 1)
test_val = test_val.drop(["construction_year","ward", "lga", "longitude", "latitude", "region", "subvillage"], axis= 1)

In [ ]:
train['funder'].value_counts()

Government Of Tanzania          9084
Danida                          3114
Hesawa                          2202
Rwssp                           1374
World Bank                      1349
                                ...
Taes                               1
Gerald Tuseko Gro                  1
Worldvision                        1
Sister Makulata                    1
Mwalimu  Maneromango Muhenzi       1
Name: funder, Length: 1897, dtype: int64

In [ ]:
train['installer'].value_counts()

DWE                      17402
Government                1825
RWE                       1206
Commu                     1060
DANIDA                    1050
                         ...
Government /Community        1
Steven Nyangarika            1
Primo                        1
TASAFcitizen and LGA         1
Staford Higima               1
Name: installer, Length: 2145, dtype: int64

In [ ]:
train['public_meeting'].value_counts()

True     51011
False     5055
Name: public_meeting, dtype: int64

In [ ]:
train['permit'].value_counts()

True     38852
False    17492
Name: permit, dtype: int64

In [ ]:
train['funder'].fillna(value="Government Of Tanzania",inplace=True)
test_val['funder'].fillna(value="Government Of Tanzania",inplace=True)

In [ ]:
train['installer'].fillna(value="DWE",inplace=True)
test_val['installer'].fillna(value="DWE",inplace=True)

In [ ]:
train['public_meeting'].fillna(value=True,inplace=True)
test_val['public_meeting'].fillna(value=True,inplace=True)

In [ ]:
train['permit'].fillna(value=True,inplace=True)
test_val['permit'].fillna(value=True,inplace=True)

In [ ]:
train.to_csv('/content/drive/MyDrive/ML - pump it/feature_train_full.csv')
test_val.to_csv('/content/drive/MyDrive/ML - pump it/feature_eval_full.csv')

In [ ]:
!pip install catboost

In [ ]:
from catboost import CatBoostClassifier, Pool
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import OrdinalEncoder
from sklearn.preprocessing import OneHotEncoder

In [ ]:
train[["public_meeting", "permit"]] = train[["public_meeting", "permit"]].fillna(-1)

In [ ]:
test_val[["public_meeting", "permit"]] = test_val[["public_meeting", "permit"]].fillna(-1)

In [ ]:
categories = [False, True, -1]
encoder = OrdinalEncoder(categories=[categories])
train["public_meeting"] = encoder.fit_transform(train[["public_meeting"]])
test_val["public_meeting"] = encoder.fit_transform(test_val[["public_meeting"]])

In [ ]:
train["permit"] = encoder.fit_transform(train[["permit"]])
test_val["permit"] = encoder.fit_transform(test_val[["permit"]])

In [ ]:
train["public_meeting"] = train["public_meeting"].replace(to_replace =[2.0], value = -1.0)

In [ ]:
train["permit"] = train["permit"].replace(to_replace =[2.0], value = -1.0)
test_val["public_meeting"] = test_val["public_meeting"].replace(to_replace =[2.0], value = -1.0)
test_val["permit"] = test_val["permit"].replace(to_replace =[2.0], value = -1.0)

In [ ]:
train["funder"] = train["funder"].fillna(train["funder"].mode().iloc[0])

In [ ]:
train["installer"] = train["installer"].fillna(train["installer"].mode().iloc[0])

In [ ]:
test_val["funder"] = test_val["funder"].fillna(test_val["funder"].mode().iloc[0])
test_val["installer"] = test_val["installer"].fillna(test_val["installer"].mode().iloc[0])

In [ ]:
# need to encode cat data

In [ ]:
categories = ["funder","installer","basin","extraction_type_class","management_group","payment", "water_quality","quantity","source","waterpoint_type", "year"]
train = pd.get_dummies(train, columns=categories)
test_val = pd.get_dummies(test_val, columns=categories)

In [ ]:
Feature_train, Feature_eval, Label_train, Label_eval = train_test_split(
    train,
    train_label,
    test_size=0.2,
)

In [ ]:
model = CatBoostClassifier(learning_rate=0.03)

In [ ]:
eval_dataset = Pool(Feature_eval, Label_eval)

In [ ]:
model.fit(Feature_train,
          Label_train,
          eval_set=eval_dataset,
          verbose=False)

In [ ]:
print(model.get_best_score())

{'learn': {'MultiClass': 0.5656642036121684}, 'validation': {'MultiClass': 0.5728418652036191}}

In [ ]:
train.head()

In [ ]:
train.columns

Index(['amount_tsh', 'gps_height', 'region_code', 'district_code',
       'population', 'public_meeting', 'permit', 'funder_0',
       'funder_A/co Germany', 'funder_Aar',
       ...
       'waterpoint_type_hand pump', 'waterpoint_type_improved spring',
       'waterpoint_type_other', 'year_-1', 'year_1', 'year_2', 'year_3',
       'year_4', 'year_5', 'year_6'],
      dtype='object', length=4114)

In [ ]:
test_val = test_val.reindex(columns=train.columns)

In [ ]:
preds_class = model.predict(test_val)

In [ ]:
pred = pd.DataFrame(preds_class)

In [ ]:
pred.index = test_val.index

In [ ]:
pred.head()

                    0
id
50785      functional
51630      functional
17168      functional
45559  non functional
49871      functional

In [ ]:
test_val["status_group"] = pred

In [ ]:
test_val.head()

       amount_tsh  gps_height  region_code  ...  year_5  year_6    status_group
id                                          ...
50785         0.0        1996           21  ...       0       1      functional
51630         0.0        1569            2  ...       0       0      functional
17168         0.0        1567           13  ...       1       0      functional
45559         0.0         267           80  ...       0       0  non functional
49871       500.0        1260           10  ...       0       0      functional

[5 rows x 4115 columns]

In [ ]:
test_val.to_csv('output.csv', columns = ['status_group'])